.app {
  grid-template-columns: 15% 1fr;
}

.left-border {
  height: 95%;
  margin: 0;
  padding: 0 2em 0 0;
  grid-column: 1;
  width: 100%;
}

.left-border>img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .left-border {
    display: none;
  }
  .app {
    grid-template-columns: 1fr;
  }
}