@font-face {
  font-family: 'Elegant Typewriter';
  src: url(./fonts/elegant-typewriter.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Antro Vectra';
  src: url(./fonts/antro-vectra.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}

html, body, #root {
  margin: 0;
  padding: 0;
  padding-right: 10px;
  height: 100%;
  font-size: 1.6ex;
  font-family: 'Elegant Typewriter';
  color: black;
}

#react-root {
  height: 100%;
}

h1 {
  font-family: 'Antro Vectra';
  font-weight: normal;
  font-size: 4ex;
}

h3 {
  font-family: 'Antro Vectra';
  font-size: 2ex;
  margin-bottom: 0;
  margin-top: 2ex;
}

h3~p {
  margin-top: 0;
}

dl {
  margin-top: 0;
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
  text-align: right;
}

dd {
  grid-column-start: 2;
  padding-bottom: 2ex;
}

.secondary {
  color: #6c799c;
}